.plancard {
    text-align: left;
    margin: 10px 40px 0px 40px;
    border-bottom: 1px solid #ccc;
    margin-left: 0;
    font-size: 1em;
}

.plancard__card {
    height: 300px;
    min-width: 90%;
    border-radius: 5px;
}

.plancard__header {
    background-color: #26b416;
    color: ghostwhite;
    text-align: center;
    height: 150px;
    align-self: end;
    border-radius: 25px 25px 0 0;
}

.plancard__header--content {
    font-size: 1.5em;
}

.plancard__header--backlink {
    font-size: 1em;
}

.plancard__container {
    box-shadow: 0.1px 0.1px 10px 0.1px #c8c8c8;
    font-size: 1em;
}

.plancard__container ul {
    list-style-type: none;
    text-align: left;
}

.plancard__container--linethrough {
    text-decoration: line-through;
}

@media only screen and (min-width: 800px) {
    .grid__plancard {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 70px;
    }
}