.error__container {
    width: 360px;
    background: white;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    z-index: 10;
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
}

.error__message {
    text-emphasis: em;
    color: #e38e99;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;    
  }
}