.footer {
    border: 10px solid #8fe3d9;
}

.footer-container {
    text-align: center;
}

.copyright {
    font-size: .9em;
    margin-bottom: 10px;
    color: #0A0A07;
    margin-top: 0px;
    padding-top: 25px;
}

.footer-image {
    height: 40px;
    margin: 15px 5px 25px 5px;
}