header {
    background-image: 
        linear-gradient(to bottom right, rgba(168, 138, 101, 0.3), rgba(13, 3, 1, 0.3)),
        url('../assets/quino-al-121406-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: ghostwhite;
    height: 50vh;
    font-size: 0.8em;
    position: relative;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header__content h1 {
    margin-top: 0px;
    padding-top: 0px;
}

.btn__header {
    font-size: 18px;
}

@media only screen and (min-width: 400px) {
    header {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 600px) {
    header {
        font-size: 1.25em;
    }

    .header__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 800px) {
    header {
        font-size: 1.5em;
    }
}