header {
    padding: 12% 0;
    background-image: 
        linear-gradient(to bottom right, rgba(168, 138, 101, 0.3), rgba(13, 3, 1, 0.3)),
        url('../assets/quino-al-121406-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: ghostwhite;
    height: calc(100vh - 50px);
    font-size: 2em;
}