header {
    padding: 12% 0;
    background-image: 
        /* linear-gradient(to bottom right, rgba(168, 138, 101, 0.3), rgba(13, 3, 1, 0.3)), */
        linear-gradient(to bottom right, rgba(0, 121, 191, 0.884), #7b8fd18f),
        url('../assets/francesca-tirico-450426-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: ghostwhite;
}