* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  button:hover {
      cursor: pointer;
  }

  fieldset {
    border: none;
  }
  
legend {
    margin-bottom: 50px;
}
  
input {
    margin-bottom: 10px;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}
  
section:nth-child(even) {
    background-color: #ddd;
}

.feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.feature {
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 100px;
    padding: 30px;
}
  