* {
    box-sizing: border-box;
  }

.image__container {
    background-image: url('../assets/destino-simple-planning.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    height: 250px;
}

fieldset {
border: none;
}
  
legend {
    margin-bottom: 50px;
}
  
input {
    margin-bottom: 10px;
}

section {
    min-height: 200px;
    padding: 6% 0;
}

.feature {
    max-width: 90%;
    margin: 0 auto;
}

.feature--withimage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.feature__content {
    align-self: center;
    max-width: 500px;
}

.landingpage__img {
    max-width: 95%;
}

.landingpage__container--primarycolor {
    background-color: #8fe3d9;
}

.landingpage__container--lightprimary {
    background-color: #8fe3d970;
}

.feature--blue {
    background-color: #0c81c6;
    color: white;
}

.feature__img {
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 100px;
    padding: 30px;
}

.landingpage__hr {
    height: 5px;
    border: none;
    width: 90%;
}

.landingpage__hr--primarycolor {
    background-color: #8fe3d9;
    height: 5px;
    border: none;
    width: 90%;
}

@media only screen and (min-width: 800px) {
    .feature {
        max-width: 50%;
    }
}