nav {
  padding: 3% 0;
  background-color: #8fe3d9;
  color: white;
  overflow: hidden;
  font-size: 1.15em;
  max-width: 1100px;
  margin: 0 auto;
}

nav a:first-child {
  float: left;
  padding-left: 25px;
  font-weight: bold;
}

nav a {
  float: right;
  padding-right: 15px;
  color: white;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #8fe3d9;
}

@media only screen and (min-width: 600px) {
  nav {
    padding: 2% 0;
  }
}

@media only screen and (min-width: 800px) {
  nav {
    padding: 1.75% 0;
  }
}

@media only screen and (min-width: 1000px) {
  nav {
    padding: 1% 0;
  }
}