section {
    margin-top: 35px;
}

.sticky-footer {
    min-height: calc(100vh - 85px);
}

fieldset {
    border: none;
  }
  
legend {
    margin-bottom: 50px;
}
  
input {
    margin-bottom: 10px;
}