.grid__card {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 200px;
    max-width: 95%;
    justify-self: center;
}

.tripcard {
    margin: 20px 40px;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}

.tripcard:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.01);
    transition: 100ms ease-in-out;
    box-shadow: 1px 1.5px 5px #000;
}

.tripcard__header {
    background-color: rgba(0, 121, 191, .99);
    color: ghostwhite;
    font-size: 30px;
    text-align: left;
    height: 150px;
    align-self: end;
    border-radius: 25px 25px 0 0;
}

.header__trips {
    font-size: 35px;
    font-weight: bold;
    float: right;
    padding-right: 10%;
    display: inline-block;
}

.tripcard__header--addcontainer {
    text-align: center;
    margin-top: -10px;
}

.tripcard__header--add:hover {
    cursor: pointer;
    font-weight: 600;
    border: 3px solid white;
    transition: 20ms ease-in-out;
}

.tripcard__header--add {
    text-align: center;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 100px;
    padding: 0 8px;
}

.tripcard__container {
    box-shadow: 0.1px 0.1px 10px 0.1px #c8c8c8;
}

.tripcard {
    text-align: left;
    margin: 10px 40px 0px 40px;
    border-bottom: 1px solid #ccc;
    margin-left: 0;
    font-size: 1em;
}

.tripcard__container ul {
    list-style-type: circle;
}

.tripcard__trip {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__yourtrips {
    padding-left: 25px;
}

.tripcard__details {
    padding: 1px;
    grid-row: 1/2;
    grid-column: 1/2;
}

.tripcard__input {
    font-size: 15px;
    color: rgb(0,0,0);
    border-bottom: 1.5px solid rgb(0,0,0);
}

.trip-img {
    width: 75px;
}

.btn__container {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: left;
}

.btn__tripcard {
    padding: 10px 0;
    width: 90px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #90e38f;
    box-shadow: .1px .1px .1px #d8d8d8;
    display: inline-block;
}

.btn__tripcard:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.05);
    transition: 100ms ease-in-out;
    box-shadow: 1px 1px 1px #000;
}

.btn__tripcard:active {
    transform: translateY(0px) scale(1.02);
    transition: 100ms ease-in-out;
}

.btn__tripcard--blue {
    background-color: lightblue;
}

.btn__tripcard--red {
    background-color: lightcoral;
}

@media only screen and (min-width: 600px) {

    .grid__tripcard {
        grid-template-columns: 1fr;
        margin: 70px auto;
        width: 95%;
    }

    .tripcard__header {
        background-color: rgba(0, 121, 191, .99);
        color: ghostwhite;
        font-size: 25px;
        text-align: left;
        height: 150px;
        align-self: end;
    }

    .header__trips {
        font-size: 30px;
        font-weight: bold;
        float: right;
        padding-right: 10%;
        display: inline-block;
    }

    .header__yourtrips {
        padding-left: 10%;
    }
}

@media only screen and (min-width: 600px) {

    .grid__card {
        width: 500px;
    }

}

@media only screen and (min-width: 800px) {

    .grid__card {
        grid-column: 2/3;
        width: 500px;
    }

    .grid__tripcard {
        grid-template-columns: 1fr;
        margin: 70px auto;
        width: 95%;
    }

}