* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}
 
button {
  padding: 15px 35px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: .1px .1px .1px #d8d8d8;
}

button:hover {
  transform: translateY(-2px) scale(1.05);
  transition: 100ms ease-in-out;
  box-shadow: 1px 1px 1px #000;
}

button:active {
  transform: translateY(0px) scale(1.02);
  transition: 100ms ease-in-out;
}

button:hover {
    cursor: pointer;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 50px;
}

input {
  margin-bottom: 10px;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid #e8e8e8;
  color: white;
  width: 200px;
  padding-bottom: 7px;
  /* padding-left: 10px; */
}

label {
  margin-right: 10px;
}

.grid {
  display: grid;
}