* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}
 
button {
  padding: 15px 35px;
}

button:hover {
    cursor: pointer;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 50px;
}

input {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

.grid {
  display: grid;
}