* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: "Open Sans", sans-serif; 
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  /* background-image: linear-gradient(to bottom, #ffffff, #efe6e9); */
  background-color: white;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}
 
button {
  padding: 15px 45px;
  margin: 10px;
  border: none;
  border-radius: 100px;
  box-shadow: 1px 1px 6px 1px #0a0a0a;
  font-size: .6em;
  background-color: #8fe3d9;
  color: white;
}

button:active {
  transform: translateY(0px) scale(1.02);
  transition: 100ms ease-in-out;
}

button:hover {
  cursor: pointer;
  -webkit-transform: translateY(5px), scale(1.05);
  transform: translateY(5px), scale(1.05);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  box-shadow: 1px 3px 25px 1px #0a0a0a;
  font-weight: bold;
}

.btn--confirm {
  margin: 20px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  font-size: .8em;
  background-color: #8fe3d9a3;
  color: black;
}

.btn--small {
  padding: 10px 20px;
}

.btn--smallshadow {
  box-shadow: .1px .1px 1px .1px #0a0a0a;
}

.btn--smallshadow:hover {
  box-shadow: 1px 1px 5px 1px #0a0a0a;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 50px;
}

input {
  margin-bottom: 10px;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid #e8e8e8;
  color: black;
  width: 200px;
  padding-bottom: 7px;
}

label {
  margin-right: 10px;
}

.grid {
  display: grid;
}

.grid__layout--main {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {

  .grid__layout--main {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
  }

}

